<!DOCTYPE html>
<html>
<head>
    <title>{{ service_name }}</title>
     <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
</head>
<body class="index-page-body">


        <div class="page-header">
           <h1><img src="static/images/flavour-fusion-icon.png" alt="category image" id="flavour-fusion-icon">{{ service_name }}</h1>
            <div class="header-inner-group">
            {% if first_name %}
                <div class="welcome-user">Hi, {{ first_name }}!</div>
                <div class="dropdown">
                    <img src="static/images/show-more.png" class="show-more-icon" id="dropdown-icon">
                    <div class="dropdown-content" id="dropdown-content">

                        <div class="dropdown-element"><a href="view-my-orders">My Orders</a></div>
                        <div class="dropdown-element"><a href="show-reservations">My Reservations</a></div>
                        <form class="dropdown-element" id="dropdown-element" action="/logout" method="post">
                            <input type="submit" value="Logout" class="dropdown-element-logout">
                        </form>
                    </div>
                </div>
            {% else %}
                <form method="POST">
                    <div class="login-signup-form-group">
                        <input class="button" type="submit" formaction="/login" value="Log in">
                        <input class="button" type="submit" formaction="/sign-up" value="Sign up">
                    </div>
                </form>
            {% endif %}
        </div>

        </div>

        <div class="delivery-address-input">
            <form method = "POST">
                <div class="form-group">
                    <label class="order-delivery-near-you-label">Order delivery near you</label><br>
                    <input type="text" id="order_near_you_input" name="search-input" placeholder="Search by state" required >
                    <input class="button" type="submit" formaction="/get-restaurants" value="Search here">
                    </div>
            </form>
        </div>



        {% for name in restaurants %}
            <li>{{ name }}</li>
        {% endfor %}

</body>
</html>



<script>

    // JavaScript to toggle the visibility of the dropdown content
document.addEventListener("DOMContentLoaded", function() {
    var icon = document.getElementById("dropdown-icon");
    var dropdownContent = document.getElementById("dropdown-content");

    icon.addEventListener("click", function() {
        dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block";
    });

    // Close the dropdown if the user clicks outside of it
    window.addEventListener("click", function(event) {
        if (!event.target.matches("#dropdown-icon")) {
            dropdownContent.style.display = "none";
        }
    });
});


</script>
