<!DOCTYPE html>
<html>
<head>
    <title>{{ service_name }}</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
     <link rel="stylesheet" type="text/css" href="/static/styles/signup_login.css">
</head>
<body class="signup-page-body">

   <div class="page-header">
    <h1><a href="/"><img src="static/images/flavour-fusion-icon.png" alt="category image" id="flavour-fusion-icon">
    {{ service_name }}</a></h1>
    <form method="POST">
        <div class="search-form-group">
            <input type="text" name="search-input" id="search-parameter" placeholder="Search by Restaurant/zipcode" required>
            <input class="button" type="submit" formaction="/get-restaurants" value="Search">
        </div>
    </form>
</div>


    <div class="inner-container">
        <h2>{{ action }}</h2>
        <form action="/signup" method="post">

        <p id="error" >{{ error }}</p>
            <div class="form-format">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required >
                </div>
            </div>


            <div class="signup-button-container">
                <input class="button" type="submit" formaction="/validate-login" value="Log in">
            </div>
        </form>
    </div>



</body>
</html>

