  {% extends "layout.html" %}

  {% block content %}
     <link rel="stylesheet" type="text/css" href="/static/styles/my_orders.css">

<body class="my-orders-page-body">

   <div class="order-items-container">
    {% for order in current_account_placed_orders | sort(attribute='timestamp', reverse=true) %}
    <div class="inner-container">
        <div class="order-header">
            <h3>{{ order.restaurant_name }}</h3>
            <input type="hidden" class="order-status" name="order-status" id="order-status" value="{{ order.status }}">


             <div class="status-display" id="status-display-{{ loop.index }}">
                  <div class="status-point order-placed">
                    <span class="status-text">Order Placed</span>
                  </div>
                  <div class="status-line order-accepted"></div>
                  <div class="status-point order-accepted">
                    <span class="status-text">Order Accepted</span>
                  </div>
                  <div class="status-line order-processing"></div>
                  <div class="status-point order-processing">
                    <span class="status-text">Order Processing</span>
                  </div>
                 <div class="status-line on-the-way"></div>
                  <div class="status-point on-the-way">
                    <span class="status-text">On the way</span>
                  </div>
                  <div class="status-line order-delivered"></div>
                  <div class="status-point order-delivered">
                    <span class="status-text">Order Delivered</span>
                  </div>
            </div>


            <div class="show-date-total-amount">
                <p>{{ order.formatted_timestamp }}</p>
                <b><p>Total: ${{ order.total_amount }}</p></b>

            </div>
        </div>
        <div class="order-items">
            {% for item in order['items'] %}
            <div class="order-item">
                <p>{{ item.item_name }}</p>
                <p>{{ item.item_price }}</p>
                <p>Quantity: {{ item.quantity }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endfor %}
</div>

</body>
</html>


<script>
        const orderStatusInputs = document.querySelectorAll('.order-status');

        orderStatusInputs.forEach((input, index) => {
            const orderStatus = input.value.trim();
            const statusDisplay = document.getElementById(`status-display-${index + 1}`);
            getStatus(orderStatus, statusDisplay);
        });


        function getStatus(orderStatus, statusDisplay){
            const statusPoints = statusDisplay.querySelectorAll('.status-point');
            const statusLines = statusDisplay.querySelectorAll('.status-line');
            const statusClasses = getStatusClasses(orderStatus);
            statusPoints.forEach(point => {
                const pointClass = point.classList[1];
                if (statusClasses.includes(pointClass)) {
                    point.style.backgroundColor = 'green'; // Apply green color for matched status points
                } else {
                    point.style.backgroundColor = '#ccc'; // Reset color for unmatched points
                }
            });

            statusLines.forEach(point => {
                const pointClass = point.classList[1];
                console.log("pointclass: ", pointClass);
                console.log("pointclass check: ", statusClasses.includes(pointClass));
                if (statusClasses.includes(pointClass)) {
                    point.style.borderTop = '3px solid green'; // Apply green color for matched status points
                } else {
                    point.style.backgroundColor = '#ccc'; // Reset color for unmatched points
                }
            });
        }

        function getStatusClasses(orderStatus) {
            const statusClasses = {
                'order placed': ['order-placed'],
                'order accepted': ['order-placed', 'order-accepted'],
                'processing order': ['order-placed', 'order-accepted', 'order-processing'],
                'on the way': ['order-placed', 'order-accepted', 'order-processing', 'on-the-way'],
                'delivered': ['order-placed', 'order-accepted', 'order-processing','on-the-way', 'order-delivered']
                // Add more status mappings as needed
            };
            return statusClasses[orderStatus.toLowerCase()] || [];
        }

</script>
{% endblock %}