  {% extends "layout.html" %}

  {% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/order_checkout.css">

<body class="order-checkout-page-body">

    <div class="checkout-page-container">
        <form method="POST" id="checkout-form">
         <div class="form-checkout-details">
            <div class="inner-container">
                <h3><p class="form-section-label">Account Details</p></h3>
                <div class="input-group">
                    <label class="name-label">First Name:</label>
                    <input type="text" name="first_name" value="{{ first_name }}">
                </div>
                <div class="input-group">
                    <label class="name-label">Last Name:</label>
                    <input type="text" name="last_name" value="{{ last_name }}">
                </div>
                <div class="input-group">
                    <label class="name-label">Email:</label>
                    <input type="text" name="email" value="{{ email }}">
                </div>
                <div class="input-group">
                    <label class="name-label">Contact:</label>
                    <input type="text" name="contact" value="{{ contact }}">
                </div>
            </div>

            <div class="inner-container">
                <h3><p class="form-section-label">Address</p></h3>
                <div class="input-group">
                    <label class="address-label">Address:</label>
                    <input type="text" name="address" >
                </div>
                <div class="input-group">
                    <label class="address-label">Unit / Suite:</label>
                    <input type="text" name="unit_suite" >
                </div>
                <div class="input-group">
                    <label class="address-label">State:</label>
                    <input type="text" name="state" >
                </div>
                <div class="input-group">
                    <label class="address-label">Zip:</label>
                    <input type="text" name="zip_code" value=" {{ restaurant_zipcode }}" readonly>
                </div>
            </div>

            <div class="inner-container">
                <p id="error" >{{ error }}</p>
                <h3><p class="form-section-label">Payment Details</p></h3>
                <div class="input-group">
                    <label class="payment-label">Card Number:</label>
                    <input type="text" id="cardNumber" name="card_number"  placeholder="Enter card number" required>
                </div>
                <div class="payment-exp-cvc-dropdown">
                    <div class="input-group">
                        <label class="payment-label">Exp Month:</label>
                        <input type="number" id="expMonth" name="exp_month" min="1" max="12" placeholder="MM" required>
                    </div>
                    <div class="input-group">
                        <label class="payment-label">Exp Year:</label>
                        <input type="number" id="expYear" name="exp_year" min="2023" placeholder="YYYY" required>
                    </div>
                    <div class="input-group">
                        <label class="payment-label">CVC:</label>
                        <input type="text" id="cvc" name="cvc" pattern="[0-9]{3}" placeholder="Enter CVC" required>
                    </div>
                </div>
            </div>
        </div>


        <div class="checkout-item-details">
            <div class="inner-container order-summary">
                <h2>Order Summary</h2>
                {% for item in items_to_checkout %}
                    <div class="order-item">
                        <p>{{ item.item_name }}</p>
                        <p>
                            <span class="price">Price: {{ item.item_price }}</span>
                            <span class="quantity">Quantity: {{ item.quantity }}</span>
                        </p>
                    </div>
                {% endfor %}
                <div class="total-amount">
                    <p>Total amount: {{ total_amount }} USD</p>
                </div>
            <input class="button" type="submit" formaction="/place-order" value="Place Order">
        </div>
        </div>
            <input type="hidden" name="restaurant_name" value="{{ restaurant_name }}">
            <input type="hidden" name="restaurant_id" value="{{ restaurant_id }}">
            <input type="hidden" name="total_amount" value="{{ total_amount }}">
        </form>
    </div>

</body>
</html>

{% endblock %}

