  {% extends "layout.html" %}

  {% block content %}
     <link rel="stylesheet" type="text/css" href="/static/styles/restaurants.css">

<body class="restaurants-page-body">

   <form id="restaurant-form" method="POST" action="/get_menu">
        <div class="restaurant-list">
            {% for restaurant in matched_restaurants %}
                <button class="card-button" id="card-button" type="submit" formaction="/get-menu" name="restaurant_id" value="{{ restaurant['id'] }}" >
                    {{ restaurant['name'] }}
                      </button>
            {% endfor %}

        </div>
   </form>
</body>
</html>

{% endblock %}