  {% extends "layout.html" %}

  {% block content %}
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <link rel="stylesheet" type="text/css" href="/static/styles/show_reservations.css">

<body class="menu-page-body">

<div class="upcoming-reservations-label">Upcoming Reservations...</div>
<form action="/cancel_reservation" method="post" class="cancel-reservation-form" id="cancel-reservation-form">
    <div class="reservations-container">
        {% for booking in get_bookings | sort(attribute='reservation_date', reverse=false)%}
        <div class="reservation">
            <div class="details">
                <div class="restaurant-name">{{ booking.restaurant_name }}</div>
                <div class="slot-date-contact">
                    <div class="slot-date">
                        <i><span class="detail-value">{{ booking.reservation_date }} - </span>

                        {{ booking.slots_booked }}
                        </i>
                    </div>
                    <div class="contact">
                        <span class="detail-value">Contact: {{ booking.contact }}</span>
                    </div>
                </div>
                <br>
                <input type="hidden" class="restaurant_id" name="restaurant_id" value="{{ booking.restaurant_id }}">
                <input type="hidden" class="reserved_by" name="reserved_by" value="{{ booking.reserved_by }}">
                <input type="hidden" class="reservation_date" name="reservation_date" value="{{ booking.reservation_date }}">
                <input type="hidden" class="contact" name="contact" value="{{ booking.contact }}">



                <button type="button" class="button" onclick="cancelReservation('{{ booking._id }}')">Cancel Reservation </button>
            </div>
        </div>
        {% endfor %}
    </div>
</form>
</body>
</html>


<script>
    function cancelReservation(reservation_id){
         console.log("reservation_id", reservation_id);
        var dataToSend = new FormData();
        dataToSend.append('reservation_id', reservation_id)

        $.ajax({
        type: "POST",
        url: "/cancel-reservation",
        data: dataToSend,
        processData: false,
        contentType: false,
        success: function(response){
            console.log("delete-form:", response);
            window.location.href = "/show-reservations";
        },
        error: function(error) {
            console.log("Error:", error);
        }
    });
}

</script>

{% endblock %}
