@import url("parent.css");
/* ------------------------------------MENU PAGE --------------------------------*/

.menu-page-body{
    background-image: url('../images/menu-page-wallpaper.jpg');
    color: white;
}







/* shopping cart icon on page header */
.shopping-cart-icon > img{
    display: flex;
    width: 50px;
    height: 40px;
    margin-right: 30px;
}

/* -----------------------------------MENU PAGE CONTENT ---------------*/
/* page split */
.menu-page-split{
    display: flex;
    height: 100%;
    width: 100%;
}

/* menu items -left side page split */
.menu-items {
    z-index: 500;
    flex: 1;
}

/* cart items - right side page split */
.show-cart-items{
    border-left: 1px solid gray;
    padding-left: 10px;
    max-width: 300px;
}


/* -----------------------LEFT SIDE SECTION - MENU ITEMS -----------------*/
/* container containing menu items for each category. */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    grid-gap: 10px;
    padding: 1%;
}

/* card for individual menu item */
.card-grid-item {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* left section for each individual card */
/* displays menu page, description and price */
.card-left {
    flex: 1;
    padding: 1%;
}

/* right section for each individual card */
/* displays menu image */
.card-right{
    margin-top: 10px;
}

/* price on individual menu item card */
#description > .price {
    font-weight: bold;
    margin-top: 5px;
}

/* menu item image on individual menu item card */
img{
    width: 130px;
    height: 100px;
}

/* item description on individual menu item card */
#description{
    font-size: 12.5px;
    color: gray;
}

/* add to cart button on individual menu item card */
.price > .button {
    font-size: 15px;
    padding: 7px 10px;
}



/* -------------------------RIGHT SIDE SECTION - SHOPPING CART DETAILS ------------------- */

#food-cart-summary {
    padding: 12px;
}

/* common attributes to be bolded from the food-cart summary section on right */
.show-checkout-amount, .restaurant-name, #food-cart-summary > .button, .your-cart-from-label{
    font-weight: bold;
}

/* restaurant name */
.restaurant-name{
    font-size: large;
}

/* checkout button */
#food-cart-summary > .button{
    width: 100%;
}

/* your cart from label on shopping cart section */
.your-cart-from-label{
    color: gray;
    font-size: small;
}

.show-cart-item-details{
    margin-top: 10px;
}

/* card for individual items in shopping cart */
.cart-item-card {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 8% 3%;

}

/* quantity for unique each item in shopping cart */
.edit-quantity{
    background-color: white;
    color: black;
    width: 58px;
    border-radius: 1px;
    font-size: 14px;
    border-radius: 2px;
    display: inline-block;
}

/* button to increase/decrease item quantity or delete item from food cart summary */
.edit-cart, .delete-cart-item {
    height: 18px;
    width: 16px;
    cursor: pointer;
    padding-left: 1px;
    background-color: transparent;
    border: none;
}

/* plus / minus image icon to increase or decrease item quantity */
#edit-cart-img{
    height: 14px;
    width: 16px;
    padding: 0;

}

/* image icon to delete item from food cart summary section */
#delete-cart-item-img{
    margin-right: 0px;
    height: 20px;
    width: 20px;
}





