/* application body on all pages */
body {
    padding: 0 2%;
    height: 100%;
    margin: 0;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    font-family: 'Lucida Handwriting', cursive, sans-serif;
}

/* background wallpaper for all pages extending layout.html page */
.layout-page-body{
    background-image: url('../images/menu-page-wallpaper.jpg');
    color: white;
}


/* page body for all pages */
.index-page-body, .signup-page-body, .layout-page-body{
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: white;
}

/* background wallpaper */
.menu-page-body, .make-reservation-page-body, .my-orders-page-body, .show-reservations-page-body{
    background-image: url('../images/menu-page-wallpaper.jpg');
    color: white;
}

/* page header div on all web pages */
.page-header, .header-inner-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


/*-------------------------------- APPLICATION NAME AND ICON ON PAGE HEADER --------------- */
/* application name icon */
#flavour-fusion-icon{
    width: 35px;
    height: 35px;
}

/* page header - 'Flavour Fusion' text */
h1{
    color: white;
    font-family: 'Lucida Handwriting', cursive, sans-serif;
}

/* page header - 'Flavour Fusion' text as link*/
.page-header > h1 > a{
    color: white;
    font-family: 'Lucida Handwriting', cursive, sans-serif;
    text-decoration: none;
}


/* ----------------------- SEARCH BY RESTAURANT / ZIP SEARCH BAR ON PAGE HEADER ---------------- */
/* search by restaurant/zip searchbar on page header */
.search-form-group{
    display: flex;
    align-items: center;
}

/* search by restaurant/zip input type fields on page header */
.search-form-group input {
    margin-right: 10px; /* Add spacing between input and button */
}

/* search by restaurant/zip input type text field on page header */
#search-parameter{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
     height: 20px;
    width: 220px;
}


/* ----------------------------- INNER CONTAINER BACKGROUND EFFECT -------------------- */
/* common attributes for background color for inner-container on all webpages */
.card-grid-item, .inner-container{
    background-color: #130d06;
    opacity: 0.8;
}




/* --------------------------------- BUTTON ATTRIBUTES ON ALL PAGES ----------------------*/
/* common attributes for button on all webpages */
.price > .button, .button{
    background-color: #4d6600;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* common attributes for button hover on all webpages */
.price > .button:hover, .button:hover{
    background-color: #86b300;
}


/* ----------------------------- USERNAME AND DROPDOWN OPTIONS ON ALL WEBPAGES --------------*/
/* 'Hi, username' text on page header for all pages */
.welcome-user{
    font-size: 13px;
}

/* downward arrow icon on webpages to open dropdown */
/* displayed on right side of username */
.show-more-icon{
    width: 25px;
    height: 15px;
}

/* dropdown */
#dropdown-icon{
    cursor: pointer;
}

/* Hide the dropdown content by default */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    border: 1px solid gray;
    width: 120px;
    font-size: 13px;
    text-align: center;
    z-index: 1;
    right: 0; /* Change right positioning */
}

.dropdown-element:hover {
    background-color: gray;
}


.dropdown-content a{
    text-decoration: none;
    color: white;
}

.dropdown-element{
    padding: 8%;
}

.dropdown-element-logout {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 13px;
    width: 100%;
    height: 100%;
    padding:0;
}

.dropdown-element-logout:hover{
    background-color: gray;
}

/* --------------------------- DISPLAY ERROR /WARNING MESSAGES -------------------*/
/* error message for failures */
#error{
    color: red;
    font-weight: bold;
    font-size: 16px;
}
