@import url("parent.css");


.signup-page-body{
    background-image: url('../images/restaurants-page-wallpaper.jpg');
}

/* rows containing 2 input fields on same row */
.form-format{
    display: flex;
    gap: 60px;
    padding: 0 14%;
}

/* container holding the form below the page header */
.inner-container {
    width: 50%;
    margin: 50px auto;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

/* each individual input field on form */
.form-group {
    margin-bottom: 20px;
}

/* label for each form fields */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* attributes for each input field types */
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], select {
    width: 100%;
    padding: 6%;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Sign up button container */
.signup-button-container{
    margin-left: 45%;
}

/* sign up button */
.signup-button{
    font-size: 16px;
}